
<div class = "row">
        <div class = "col-md-2">
            <ul class = "nav nav-pills nav stacked">
                <li class = "active"><a href="#/posts">Home</a></li>
                <li class = "active"><a href="#">Add Blogs</a></li>
               
            </ul>
    
        </div>
        <div class = "col-md-10">
            <div ng-controller="postsCtrl">
                <h4>View Post</h4>
                <fieldset>
                    <h4></h4>
                </fieldset>

            </div>
           
        </div>
    </div>